<ul class="nav nav-stacked-input">
  <li>
    <input name="phone" autocomplete="false" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="20" ng-model="entity.address.phone" ng-pattern="ds.phone" placeholder="phone" uib-tooltip="{{ds.getMessage(lf.phone, 'Phone')}}" />
  </li>
  <li>
    <input name="email" autocomplete="false" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="50" ng-model="entity.address.email" ng-pattern="ds.email" placeholder="email" uib-tooltip="{{ds.getMessage(lf.email, 'Email')}}" />
  </li>
</ul>