<div class="container">
  <div ng-include="'templates/common/header.html'"></div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-repeat="i in data.tabs" ng-class="{'active':getActive(i.id)}">
      <a data-toggle="tab" role="tab" id="{{i.id}}-tab" href="#" target="{{i.id}}" ng-click="getItems(i)"><i class="fa fa-{{i.fontIcon}} fa-15x"></i></a>
    </li>
  </ul>
  <div class="container np">
    <div class="tab-content">
      <div id="{{i.id}}" role="tabpanel" ng-repeat="i in data.tabs" aria-labelledby="{{i.id}}-tab" class="tab-pane" ng-class="{'active fade in': getActive(i.id)}">
        <div ng-include="i.view_template"></div>
      </div>
    </div>
  </div>
</div>