<div class="x_panel x_panel_nt">
  <div class="x_title">
    <span class="span-format">{{tab.name}}</span>
    <div class="navbar-right">
      <div ng-include="'templates/common/toolbar.html'"></div>
    </div>
  </div>
  <div class="x_content">
    <div ng-include="'templates/common/busy.html'" ng-show="isBusy"></div>
    <div class="row" ng-show="!isBusy">
      <div ng-include="'templates/common/norecords.html'" ng-show="activeList.length == 0"></div>
      <div class="col-md-3 col-xs-12" ng-repeat="i in activeList" ng-show="activeList.length > 0">
        <div class="x_panel">
          <div class="x_title">
            <div ng-include="'templates/common/item_toolbar.html'"></div>
            <h3 class="nw">{{i.companyName}}</h3>
          </div>
          <div class="x_content" ng-show="!showDetails">
            <span class="badge bg-gray-n badge-resize">{{i.address.countryCode}}</span>
            <span class="badge badge-resize bg-gray-n"><i class="fa {{i.currency}} fa-fw"></i></span>
            <ul class="nav nav-stacked ">
              <li>
                <a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Address " uib-popover-html="getAddressHtml(i) ">Address</a>
              </li>
              <li>
                <a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Contact Info " uib-popover-html="getCommHtml(i) ">Contact Info</a>
              </li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Tax Info " uib-popover-html="getCompanyTaxesHtml(i) ">Tax Info</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Cheque to be drawn on " uib-popover-html="getChequeHtml(i) ">Cheque</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Swift " uib-popover-html="getSwiftHtml(i) ">Swift</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Neft/Ifsc " uib-popover-html="getIfscHtml(i) ">Neft/Ifsc</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto " popover-title="Support Info " uib-popover-html="getSupportHtml(i) ">Support Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>