<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        <label for="supportPhone">Phone:</label>
      </div>
      <div class="div-input" uib-tooltip="{{getMsg(lf.supportPhone, 'Support Phone ')}}">
        <div class="input-group">
          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-phone"></i></span>
          <input name="supportPhone" type="tel" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="20" data-ng-model="entity.support.phone" data-ng-pattern="phone" placeholder="4523658985" />
          <span class="input-group-addon"><i data-ng-class="getIcon(lf.supportPhone)"></i></span>
        </div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        <label for="supportEmail">Email:</label>
      </div>
      <div class="div-input" uib-tooltip="{{getMsg(lf.supportEmail, 'Support Email ')}}">
        <div class="input-group">
          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-at"></i></span>
          <input name="supportEmail" type="email" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="20" data-ng-model="entity.support.email" data-ng-pattern="email" placeholder="someone@support.com" />
          <span class="input-group-addon"><i data-ng-class="getIcon(lf.supportEmail)"></i></span>
        </div>
      </div>
    </div>
  </li>
</ul>