<ul class="list-group">
  <li class="list-group-item">
    <input name="swiftbeneficiary" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.swift.beneficiary" ng-pattern="ds.text" placeholder="beneficiary" uib-tooltip="{{ds.getMessage(lf.swiftbeneficiary, 'Beneficiary ')}}"
    />
  </li>
  <li class="list-group-item">
    <input name="swiftbank" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.swift.bankName" ng-pattern="ds.text" placeholder="Bank Name" uib-tooltip="{{ds.getMessage(lf.swiftbank, 'Bank Name ')}}" />
  </li>
  <li class="list-group-item">
    <input name="swiftaccountNo" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.swift.accountNo" ng-pattern="ds.text" placeholder="Account No" uib-tooltip="{{ds.getMessage(lf.swiftaccountNo, 'Account No ')}}"
    />
  </li>
  <li class="list-group-item">
    <input name="swiftcode" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.swift.code" ng-pattern="ds.text" placeholder="SWIFT Code" uib-tooltip="{{ds.getMessage(lf.swiftcode, 'SWIFT Code ')}}" />
  </li>
  <li class="list-group-item">
    <input name="swiftbranch" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.swift.branch" ng-pattern="ds.text" placeholder="Branch Name" uib-tooltip="{{ds.getMessage(lf.swiftbranch, 'Branch Name ')}}" />
  </li>
</ul>