<ul class="nav nav-stacked-input">
  <li>
    <input name="serviceTaxNo" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.tax.serviceTaxNo" ng-pattern="ds.text" placeholder="Service Tax Number" uib-tooltip="{{ds.getMessage(lf.serviceTaxNo, 'Service Tax No ')}}"
    />
  </li>
  <li>
    <input name="tin" required type="text" class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.tax.tin" ng-pattern="ds.text" placeholder="TIN" uib-tooltip="{{ds.getMessage(lf.tin, 'TIN ')}}" />
  </li>
  <li>
    <input name="pan" required type="text" class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.tax.pan" ng-pattern="ds.text" placeholder="PAN" uib-tooltip="{{ds.getMessage(lf.pan, 'PAN ')}}" />
  </li>
  <li>
    <input name="cin" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.tax.cin" ng-pattern="ds.text" placeholder="CIN" uib-tooltip="{{ds.getMessage(lf.cin, 'CIN ')}}" />
  </li>
</ul>