<form name="lf" novalidate ng-submit="save()">
  <div class="work_prog" ng-show="isBusy">
    <div ng-include="'templates/common/busy.html'"></div>
  </div>
  <div class="x_panel x_panel_nb" ng-show="!isBusy">
    <div class="x_title">
      <div class="navbar-right">
        <div ng-include="'templates/common/popup_toolbar.html'"></div>
      </div>
      <span class="span-format-sm cap">{{tabName}} details</span>
    </div>
    <div class="x_content">
      <ul class="nav nav-tabs">
        <li class="text-left" ng-class="{'active in' : getActive(1) }">
          <a data-toggle="tab" href="#" target="#1" ng-click="tabId = 1">Customer</a>
        </li>
        <li class="text-left" ng-class="{'active in' : getActive(2) }">
          <a data-toggle="tab" href="#" target="#3" ng-click="tabId = 2">Tax</a>
        </li>
        <li class="text-left" ng-class="{'active in' : getActive(3) }">
          <a data-toggle="tab" href="#" target="#2" ng-click="tabId = 3">Address</a>
        </li>
        <li class="text-left" ng-class="{'active in' : getActive(4) }">
          <a data-toggle="tab" href="#" target="#2" ng-click="tabId = 4">Communication</a>
        </li>
      </ul>
      <div class="tab-content x_panel x_panel_nt">
        <div id="1" class="tab-pane fade" ng-class="{'active in' : getActive(1) }">
          <div ng-include="'templates/customer/customer_details.html'"></div>
        </div>
        <div id="2" class="tab-pane fade" ng-class="{'active in' : getActive(2) }">
          <div ng-include="'templates/customer/customer_tax_details.html'"></div>
        </div>
        <div id="3" class="tab-pane fade" ng-class="{'active in' : getActive(3) }">
          <div ng-include="'templates/common/address.html'"></div>
        </div>
        <div id="4" class="tab-pane fade" ng-class="{'active in' : getActive(4) }">
          <div ng-include="'templates/common/communication.html'"></div>
        </div>
      </div>
    </div>
  </div>
</form>