<ng-form name="taxForm" novalidate>
  <div class="x_panel x_panel_nt x_panel_nb x_panel_nm">
    <div class="x_title">
      <div class="navbar-right">
        <button type="button" ng-click="addTax()" ng-disabled="taxForm.$invalid" class="btn btn-default btnx" uib-tooltip="Save"><i class="fa fa-plus"></i></button>
        <button type="button" ng-click="tax={}" class="btn btn-default btnx" uib-tooltip="Close"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="x-content">
      <ul class="nav nav-stacked-input">
        <li>
          <input name="name" type="text" class="form-control" ng-disabled="isBusy" ng-maxlength="40" ng-model="tax.name" ng-pattern="ds.text" placeholder="name of the tax component" uib-tooltip="{{ds.getMessage(taxForm.name, 'Name of tax component')}}" />
        </li>
        <li>
          <input name="percentage" type="number" step="0.1" class="form-control" ng-disabled="isBusy" ng-maxlength="10" ng-model="tax.percent" ng-pattern="ds.percent" placeholder="tax precentage" uib-tooltip="{{ds.getMessage(taxForm.percentage, 'Tax percentage')}}" />
        </li>
        <li>
          <table class="table table-condenced" ng-show="entity.taxes.length > 0">
            <thead>
              <tr>
                <td style="width: 40%"><label>Name</label></td>
                <td style="width: 40%"><label>Percentage</label></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in entity.taxes">
                <td>{{t.name}}</td>
                <td>{{t.percent}}%</td>
                <td align='right'><button type='button' ng-click='deleteTax(i)' class='btn btn-default btnx' uib-tooltip='Delete'><i class='fa fa-times text-muted'></i></button></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</ng-form>