<div class="x_panel x_panel_nt">
  <div class="x_title">
    <span class="span-format">{{tab.name}}</span>
    <div class="navbar-right">
      <div ng-include="'templates/common/toolbar.html'"></div>
    </div>
  </div>
  <div class="x_content">
    <div ng-include="'templates/common/busy.html'" ng-show="isBusy"></div>
    <div class="row" ng-show="!isBusy">
      <div ng-include="'templates/common/norecords.html'" ng-show="activeList.length == 0"></div>
      <div class="col-md-3 col-xs-12" ng-repeat="i in activeList" ng-show="activeList.length > 0">
        <div class="x_panel">
          <div class="x_title">
            <div ng-include="'templates/common/item_toolbar.html'"></div>
            <h3 class="nw">{{i.invoiceNo}}</h3>
          </div>
          <div class="x_content" ng-show="!showDetails">
            <div class="row">
              <div class="col-sm-7 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{i.paymentDate|date:data.shortDateFormat}}</h5>
                  <span class="description-text">Payment Date</span>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="description-block">
                  <h5 class="description-header"><i class="fa {{i.currency}}"></i>{{i.amount|number}}</h5>
                  <span class="description-text">Amount</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>