<ul class="list-group">
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.address1, 'Address 1')}}">
      <input name="address1" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.address.address1" ng-pattern="ds.text" placeholder="address 1" />
    </div>
  </li>
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.address2, 'Address 2')}}">
      <input name="address2" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.address.address2" ng-pattern="ds.text" placeholder="address 2" />
    </div>
  </li>
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.city, 'City')}}">
      <input name="city" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.address.city" ng-pattern="ds.text" placeholder="city" />
    </div>
  </li>
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.state, 'State')}}">
      <input name="state" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="100" ng-model="entity.address.state" ng-pattern="ds.text" placeholder="State" />
    </div>
  </li>
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.country, 'Country')}}">
      <select class="form-control" name="country" required ng-model="entity.address.countryCode">
                            <option value="-1">please select a country</option>
                            <option ng-repeat="i in countries" value="{{i.text}}">{{i.text}}</option>
                          </select>
    </div>
  </li>
  <li class="list-group-item">
    <div class="div-input" uib-tooltip="{{ds.getMessage(lf.zip, 'Zip')}}">
      <input name="zip" type="text" required class="form-control" ng-disabled="isBusy" ng-maxlength="20" ng-model="entity.address.zip" ng-pattern="ds.zip" placeholder="zip" />
    </div>
  </li>
</ul>