<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
    <div ng-include="'templates/toolbar.html'" />
  </div>
  <div class="panel-body">
    <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
    <div class="row" ng-show="!isBusy">
      <div class="col-md-3" ng-repeat="i in activeList">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-light-blue">
            <div class="info-box-icon" uib-tooltip="currency">
              <i class="fa {{i.currency}} text-white"></i>
            </div>
            <h3 class="widget-user-username"><label class="text-white" style="cursor: pointer;" ng-click="createOrEdit(i.id)">{{i.companyName}}</label></h3>
            <span class="description-text text-white">{{i.address.countryCode}}</span>
            <i class="fa fa-chevron-circle-down fa-fw fa-lg" ng-click='showDetails = !showDetails'></i>
          </div>
          <div class="box-footer" ng-show="showDetails">
            <ul class="nav nav-stacked">
              <li>
                <a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Address" uib-popover-html="getAddressHtml(i)">Address</a>
              </li>
              <li>
                <a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Contact Info" uib-popover-html="getCommHtml(i)">Contact Info</a>

              </li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Tax Info" uib-popover-html="getCompanyTaxesHtml(i)">Tax Info</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Cheque to be drawn on" uib-popover-html="getChequeHtml(i)">Cheque</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Swift" uib-popover-html="getSwiftHtml(i)">Swift</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Neft/Ifsc" uib-popover-html="getIfscHtml(i)">Neft/Ifsc</a></li>
              <li><a popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Support Info" uib-popover-html="getSupportHtml(i)">Support Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>