<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
        <div data-ng-include="'templates/toolbar.html'" />
    </div>
    <div class="panel-body">
        <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
        <table class="table table-condensed table-bordered" ng-show="!isBusy">
            <thead>
                <tr>
                    <th style="width: 1%"><span class="fa fa-lg fa-fw" data-ng-click="toggleAll()" data-ng-class="{'fa-check-square': isAllSelected, 'fa-square-o':!isAllSelected}"></span></th>
                    <th style="width: 15%">Company Name<span class="pull-right fa fa-fw" style="cursor: pointer" data-ng-click="changeSort('name')" data-ng-class="sortIcon()" data-ng-show="sortType == 'name'"></span></th>
                    <th style="width: 11%">Address</th>
                    <th style="width: 10%">Service Tax No.</th>
                    <th style="width: 10%">TIN</th>
                    <th style="width: 10%">PAN</th>
                    <th style="width: 10%">CIN</th>
                    <th style="width: 14%">SWIFT</th>
                    <th style="width: 14%">IFSC</th>
                    <th style="width: 5%">Logo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="activeList.length == 0">
                    <td style="width: 1%"></td>
                    <td><i class="fa fa-life-ring fa-2x"></i> No records found.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="i in activeList | orderBy:tab.sortColumn:sortReverse | filter:searchItem" ng-show="activeList.length > 0">
                    <td style="width: 1%"><span class="fa fa-lg fa-fw" data-ng-click="optionToggled(i)" data-ng-class="{'fa-check-square': i.selected, 'fa-square-o':!i.selected}"></span></td>
                    <td><a style="cursor: pointer;" data-ng-click="createOrEdit(i.id)">{{i.companyName}}</a></td>
                    <td>{{addressTrim(i.address, 20)}}</td>
                    <td>{{i.tax.serviceTaxNo}}</td>
                    <td>{{i.tax.tin}}</td>
                    <td>{{i.tax.pan}}</td>
                    <td>{{i.tax.cin}}</td>
                    <td>{{addressTrim(i.swift, 20)}}</td>
                    <td>{{addressTrim(i.ifsc, 20)}}</td>
                    <td><img data-ng-src="{{i.logo}}" data-err-src="" style="height: 45px;width:100px;" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>