<form name="lf" novalidate data-ng-submit="save()">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default" style="margin: 0px;">
        <div class="panel-heading" style="height: 40px; padding-top: 4px;">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-default btn-sm" data-ng-disabled="lf.$invalid || isBusy"><i tooltip="Save" class="fa fa-lfw fa-save fa-lg text-primary"></i></button>
              <button type="button" data-ng-click="close()" class="btn btn-default btn-sm"><i tooltip="Close" class="fa fa-lfw fa-times fa-lg text-danger"></i></button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="container" style="margin: 0; padding: 0; max-width: 100%">
            <ul class="nav nav-tabs">
              <li class="text-left" data-ng-class="{'active in' : getActive(1) }">
                <a data-toggle="tab" data-target="#1" data-ng-click="tabId = 1">Company and Customer Details</a>
              </li>
              <li class="text-left" data-ng-class="{'active in' : getActive(2) }">
                <a data-toggle="tab" data-target="#2" data-ng-click="tabId = 2">Product Details</a>
              </li>
              <li class="text-left" data-ng-class="{'active in' : getActive(3) }">
                <a data-toggle="tab" data-target="#3" data-ng-click="tabId = 3">Reminder Details</a>
              </li>
            </ul>
            <i class="fa fa-fw"></i>
            <div class="tab-content">
              <div id="#1" class="tab-pane fade" data-ng-class="{'active in' : getActive(1) }">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="companyName">Company:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.companyName, 'Company Name')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-building-o"></i></span>
                          <select class="form-control" name="invoiceNo" required data-ng-model="entity.companyId">
                            <option data-ng-repeat="i in companies" value="{{i.id}}">{{i.companyName + ',' + i.address.city}}</option>
                          </select>
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.invoiceNo)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="customerName">Customer:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.customerName, 'Customer name')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-user"></i></span>
                          <select class="form-control" name="customerName" required data-ng-model="entity.customerId">
                            <option data-ng-repeat="i in customers" value="{{i.id}}">{{i.customerName + ',' + i.city}}</option>
                          </select>
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.customerName)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="comments">Comments:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.comments, 'Comments')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-newspaper-o"></i></span>
                          <input name="comments" type="text" class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.comments" data-ng-pattern="text" placeholder="comments" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.comments)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="#2" class="tab-pane fade" data-ng-class="{'active in' : getActive(2) }">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="productName">Product Name:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.productName, 'Company Name')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-tag"></i></span>
                          <select class="form-control" name="productName" required ng-model="productId" ng-change="getPrice(productId)">
                            <option data-ng-repeat="i in products" value="{{i.id}}">{{i.productName}}</option>
                          </select>
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.productName)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="price">Price:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.price, 'Price')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg {{bill.currency}}"></i></span>
                          <input name="price" type="number" step="1.00" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="10" ng-change="getTotal()" data-ng-model="bill.price" data-ng-pattern="decimal" placeholder="100.00" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.price)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="from">From:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.from, 'StartDate')}}">
                        <div class="input-group">
                          <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="opened1=true"><i class="fa fa-lg fa-calendar"></i>  <i class="fa fa-sm fa-caret-down"></i></button>
                    </span>
                          <input type="text" name="from" class="form-control" uib-datepicker-popup="EEEE, MMMM d, y" ng-model="bill.startDate" is-open="opened1" readonly datepicker-options="dateOptions" required close-text="Close" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.from)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="to">To:</label>
                      </div>
                      <div class="div-input" tooltip="{{getMsg(lf.state, 'State')}}">
                        <div class="input-group">
                          <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="opened2=true"><i class="fa fa-lg fa-calendar"></i>  <i class="fa fa-sm fa-caret-down"></i></button>
                    </span>
                          <input type="text" name="to" class="form-control" uib-datepicker-popup="EEEE, MMMM d, y" ng-model="bill.endDate" is-open="opened2" readonly datepicker-options="dateOptions" required close-text="Close" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.state)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="quantity">Quantity:</label>
                      </div>
                      <div class="div-input" uib-tooltip="{{getMsg(lf.quantity, 'Quantity')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-map-marker"></i></span>
                          <input name="quantity" type="number" step="1" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="10" ng-change="getTotal()" data-ng-model="bill.quantity" data-ng-pattern="integer" placeholder="123" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.quantity)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-3">
                        <label style="padding-top: 5px;" class="text-right" for="phone">Total:</label>
                      </div>
                      <div class="div-input">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg {{bill.currency}}"></i></span>
                          <input name="phone" type="number" class="form-control" data-ng-disabled="true" ng-model="bill.total" />
                          <span class="input-group-addon"><i class="fa fa-check text-success"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="#3" class="tab-pane fade" data-ng-class="{'active in' : getActive(3) }">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">Service Tax No.:</label>
                      </div>
                      <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                          <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="tin">TIN:</label>
                      </div>
                      <div class="div-input" tooltip="{{getMsg(lf.tin, 'TIN')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-percent"></i></span>
                          <input name="tin" required type="text" class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.tax.tin" data-ng-pattern="percent" placeholder="0.5" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.tin)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="pan">PAN:</label>
                      </div>
                      <div class="div-input" tooltip="{{getMsg(lf.pan, 'PAN')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-percent"></i></span>
                          <input name="pan" required type="text" class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.tax.pan" data-ng-pattern="percent" placeholder="0.5" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.pan)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="cin">CIN:</label>
                      </div>
                      <div class="div-input" tooltip="{{getMsg(lf.cin, 'CIN')}}">
                        <div class="input-group">
                          <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-percent"></i></span>
                          <input name="cin" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="6" data-ng-model="entity.tax.cin" data-ng-pattern="percent" placeholder="5" />
                          <span class="input-group-addon"><i data-ng-class="getIcon(lf.cin)"></i></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="#4" class="tab-pane fade" data-ng-class="{'active in' : getActive(4) }">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
                    <div class="row">
                      <div class="col-md-2 text-center">
                      </div>
                      <div class="col-md-4 text-center">
                        <span class="text-center"><strong>NEFT/RTGS:</strong></span>
                      </div>
                      <div class="col-md-4 text-center">
                        <span class="text-center"><strong>SWIFT:</strong></span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">BENEFICIARY:</label>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">BANK:</label>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">ACCOUNT NO:</label>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">CODE:</label>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-2">
                        <label style="padding-top: 5px;" class="text-right" for="serviceTaxNo">BRANCH:</label>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="div-input" tooltip="{{getMsg(lf.serviceTaxNo, 'Service Tax No')}}">
                            <div class="input-group">
                              <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-list-alt"></i></span>
                              <input name="serviceTaxNo" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.serviceTaxNo" data-ng-pattern="text" placeholder="Prince Charles" />
                              <span class="input-group-addon"><i data-ng-class="getIcon(lf.serviceTaxNo)"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>