<form name="lf" novalidate data-ng-submit="save()">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading" style="height: 40px; padding-top: 4px;">
                    <div class="btn-toolbar pull-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-default btn-sm" data-ng-disabled="lf.$invalid || getBusyStatus()"><i uib-tooltip="Save" class="fa fa-lfw fa-save fa-lg text-primary"></i></button>
                            <button type="button" data-ng-click="close()" class="btn btn-default btn-sm"><i uib-tooltip="Close" class="fa fa-lfw fa-times fa-lg text-danger"></i></button>
                        </div>
                    </div>
                    <label style="margin-top:6px;">Company Details</label>
                </div>
                <div class="panel-body">
                    <div class="container" style="margin: 0; padding: 0; max-width: 100%">
                        <ul class="nav nav-tabs">
                            <li class="text-left" data-ng-class="{'active in' : getActive(1) }"> <a data-toggle="tab" data-target="#1" data-ng-click="tabId = 1">Company</a> </li>
                            <li class="text-left" data-ng-class="{'active in' : getActive(2) }"> <a data-toggle="tab" data-target="#2" data-ng-click="tabId = 2">Address</a> </li>
                            <li class="text-left" data-ng-class="{'active in' : getActive(3) }"> <a data-toggle="tab" data-target="#3" data-ng-click="tabId = 3">Tax</a> </li>
                            <li class="text-left" data-ng-class="{'active in' : getActive(4) }"> <a data-toggle="tab" data-target="#4" data-ng-click="tabId = 4">Cheque</a> </li>
                            <li class="text-left" data-ng-class="{'active in':getActive(5)}"><a data-toggle="tab" data-target="#5" data-ng-click="tabId = 5">NEFT/IFSC</a></li>
                            <li class="text-left" data-ng-class="{'active in':getActive(6)}"><a data-toggle="tab" data-target="#6" data-ng-click="tabId = 6">SWIFT</a></li>
                            <li class="text-left" data-ng-class="{'active in':getActive(7)}"><a data-toggle="tab" data-target="#7" data-ng-click="tabId = 7">Support</a></li>
                        </ul>
                        <i class="fa fa-fw"></i>
                        <div class="tab-content">
                            <div id="#1" class="tab-pane fade" data-ng-class="{'active in' : getActive(1) }">
                                <div data-ng-include="'templates/company/company_details.html'" />
                            </div>
                            <div id="#2" class="tab-pane fade" data-ng-class="{'active in ' : getActive(2) }">
                                <div data-ng-include="'templates/address.html'" />
                            </div>
                            <div id="#3" class="tab-pane fade" data-ng-class="{'active in ' : getActive(3) }">
                                <div data-ng-include="'templates/company/tax.html'" />
                            </div>
                            <div id="#4" class="tab-pane fade" data-ng-class="{'active in ': getActive(4)}">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="bankName">Cheque to be drawn on:</label>
                                            </div>
                                            <div class="div-input" uib-tooltip="{{getMsg(lf.bankName, 'Cheque to be drawn on ')}}">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i style="padding-top: 4px;" class="fa fa-lg fa-question-circle"></i></span>
                                                    <input name="bankName" type="text" required class="form-control" data-ng-disabled="isBusy" data-ng-maxlength="100" data-ng-model="entity.cheque.bankName" data-ng-pattern="text" placeholder="Imaginary Solutions Inc." />
                                                    <span class="input-group-addon"><i data-ng-class="getIcon(lf.bankName)"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="#5" class="tab-pane fade" data-ng-class="{'active in ' : getActive(5) }">
                                <div data-ng-include="'templates/company/neft.html'" />
                            </div>
                            <div id="#6" class="tab-pane fade" data-ng-class="{'active in ' : getActive(6) }">
                                <div data-ng-include="'templates/company/swift.html'" />
                            </div>
                            <div id="#7" class="tab-pane fade" data-ng-class="{'active in ': getActive(7)}">
                                <div data-ng-include="'templates/company/support.html'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>