<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
    <div ng-include="'templates/toolbar.html'" />
  </div>
  <div class="panel-body background-grey">
    <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
    <div class="row" ng-show="!isBusy">
      <div class="col-md-4" ng-repeat="i in activeList">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-aqua-active">
            <div class="info-box-icon">
              <i class="fa {{i.currency}} white"></i>
            </div>
            <h3 class="widget-user-username"><label class="text-white" style="cursor: pointer;" ng-click="createOrEdit(i.id)">{{i.customerName}}</label></h3>
            <span class="description-text text-white">{{i.address.countryCode}}</span>
            <i class="fa fa-chevron-circle-down fa-fw fa-lg" ng-click='showDetails = !showDetails'></i>
          </div>
          <div class="box-footer" ng-show="showDetails">
            <ul class="nav nav-stacked">
              <li>
                <a class="licolor" popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Address" uib-popover-html="getAddressHtml(i)">Address</a>
              </li>
              <li><a class="licolor" popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Taxes" uib-popover-html="getTaxesHtml(i)">Taxes</a></li>
              <li><a class="licolor" popover-trigger="'mouseenter'" popover-placement="auto" popover-title="Communication" uib-popover-html="getCommHtml(i)">Communication</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>