<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
        <div ng-include="'templates/toolbar.html'" />
    </div>
    <div class="panel-body">
        <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
        <table class="table table-condensed" ng-show="!isBusy">
            <thead>
                <tr class="text-nowrap">
                    <th style="width: 1%"><span class="fa fa-lg fa-fw" ng-click="toggleAll()" ng-class="{'fa-check-square': isAllSelected, 'fa-square-o':!isAllSelected}"></span></th>
                    <th style="width: 10%">Invoice No.</th>
                    <th style="width: 10%">Invoice Date</th>
                    <th style="width: 10%">Due Date</th>
                    <th style="width: 20%">Invoice Period</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="activeList.length == 0">
                    <td style="width: 1%"></td>
                    <td><i class="fa fa-life-ring fa-2x"></i> No records found.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="i in activeList" ng-show="activeList.length > 0">
                    <td style="width: 1%"><span class="fa fa-lg fa-fw" ng-click="optionToggled(i)" ng-class="{'fa-check-square': i.selected, 'fa-square-o':!i.selected}"></span></td>
                    <td><a ng-href="#/Edit/{{i.id}}">{{i.invoiceNo}}</a></td>
                    <td>{{i.billDate|date:"EEEE, MMMM d, y"}}</td>
                    <td>{{i.dueDate|date:"EEEE, MMMM d, y"}}</td>
                    <td>
                        <strong>From</strong> {{i.startDate|date:"EEEE, MMMM d, y"}} <strong>To</strong> {{i.endDate|date:"EEEE, MMMM d, y"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>