<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
        <div data-ng-include="'templates/toolbar.html'" />
    </div>
    <div class="panel-body">
        <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
        <table class="table table-condensed table-bordered" ng-show="!isBusy">
            <thead>
                <tr class="text-nowrap">
                    <th style="width: 1%"><span class="fa fa-lg fa-fw" data-ng-click="toggleAll()" data-ng-class="{'fa-check-square': isAllSelected, 'fa-square-o':!isAllSelected}"></span></th>
                    <th style="width: 25%">Invoice No.</th>
                    <th style="width: 25%">Invoice Date</th>
                    <th style="width: 6%">Due Date</th>
                    <th style="width: 6%">Invoice Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="activeList.length == 0">
                    <td style="width: 1%"></td>
                    <td><i class="fa fa-life-ring fa-2x"></i> No records found.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--| orderBy:tab.sortColumn:sortReverse | filter:searchItem-->
                <tr data-ng-repeat="i in activeList" ng-show="activeList.length > 0">
                    <td style="width: 1%"><span class="fa fa-lg fa-fw" data-ng-click="optionToggled(i)" data-ng-class="{'fa-check-square': i.selected, 'fa-square-o':!i.selected}"></span></td>
                    <td><a data-ng-href="#/Edit/{{i.id}}">{{i.invoiceNo}}</a></td>
                    <td>{{i.invoiceDate}}</td>
                    <td>{{i.dueDate}}</td>
                    <td><i class="fa fa-{{i.currency}} fa-lg"></i>{{i.totalDue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>