<div class="container">
  <ul class="nav nav-tabs">
    <li ng-repeat="i in data.tabs" ng-class="{'active in':getActive(i.id)}" uib-tooltip="{{i.name}}">
      <a toggle="tab" target="{{i.id}}" ng-click="getItems(i)"><i class="fa fa-{{i.fontIcon}} fa-15x "></i></a>
    </li>
  </ul>
  <i class="fa fa-fw "></i>
  <div class="container" style="marging:0;padding:0; ">
    <div class="tab-content ">
      <div id="i.id " ng-repeat="i in data.tabs " class="tab-pane fade " ng-class="{ 'active in': getActive(i.id)} ">
        <div ng-include="i.view_template "></div>
      </div>
    </div>
  </div>
</div>