<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
    <div ng-include="'templates/toolbar.html'" />
  </div>
  <div class="panel-body background-grey">
    <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
    <div class="row">
      <div class="col-md-3" ng-repeat="i in activeList">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-blue-n">
            <div class="info-box-icon" uib-tooltip="currency">
              <i class="fa {{i.currency}}"></i>
            </div>
            <h3 class="widget-user-username info-box-text"><label style="cursor: pointer;" ng-click="createOrEdit(i.id)">{{i.invoiceNo}}</label></h3>
            <!--<label class="description-text badge"><span class="badge">Invoice amount</span>{{12548|number}}</label>-->
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{i.paymentDate|date:'EEEE, MMMM d, y'}}</h5>
                  <span class="description-text">payment made on</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-6">
                <div class="description-block">
                  <h5 class="description-header">{{i.amount|number}}</h5>
                  <span class="description-text">payment made</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="p in activeList">
                <div class="info-box">
                    <span class="info-box-icon-square bg-danger-dark"><i class="fa {{p.currency}} white">{{p.invoiceAmount}}</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{p.invoiceNo}}</span>
                        <span class="info-box-number">{{p.paymentDate|date:'EEEE, MMMM d, y'}}</span>-->
      <!--<div class="progress">
                            <div class="progress-bar bg-navy" aria-valuenow="60">
                                <span class="sr-only white">{{p.amount}}</span>
                            </div>
                        </div>-->
      <!--<span class="info-box-text"><i class="fa {{p.currency}}"></i>{{p.amount|number}}</span>-->
      <!--<span class="info-box-number white">{{p.amount|number}}</span>-->
      <!--</div>-->
      <!-- /.info-box-content -->
      <!--</div>-->
      <!-- /.info-box -->
      <!--</div>-->
    </div>
  </div>
</div>