<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 4px; padding-bottom: 4px;">
    <div ng-include="'templates/toolbar.html'" />
  </div>
  <div class="panel-body">
    <div ng-include="'templates/busy.html'" ng-show="isBusy"></div>
    <div class="row" ng-show="!isBusy">
      <div class="col-md-3" ng-repeat="i in activeList">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-primary">
            <div class="info-box-icon" uib-tooltip="currency">
              <i class="fa {{i.currency}} text-white"></i>
            </div>
            <h3 class="widget-user-username info-box-text"><label style="cursor: pointer;" ng-click="createOrEdit(i.id)">{{i.productName}}</label></h3>
            <label class="description-text">{{i.countryCode}}</label>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{i.quantity}}</h5>
                  <span class="description-text">Quantity available</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-6">
                <div class="description-block">
                  <h5 class="description-header">{{i.price}}</h5>
                  <span class="description-text">price / unit / month</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>